# Bot Environment (dev or prod)
NODE_ENV=prod

# Development Bot Configuration
DEV_BOT_ID=YOUR_DEV_BOT_ID
DEV_CLIENT_SECRET=YOUR_DEV_CLIENT_SECRET
DEV_BOT_TOKEN=YOUR_DEV_BOT_TOKEN
DEV_MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/

# Development Logging Channels
DEV_ERROR_LOG_CHANNEL=YOUR_DEV_ERROR_LOG_CHANNEL_ID
DEV_GUILD_LOG_CHANNEL=YOUR_DEV_GUILD_LOG_CHANNEL_ID
DEV_COMMAND_LOG_CHANNEL=YOUR_DEV_COMMAND_LOG_CHANNEL_ID

# Development Webhooks (optional)
DEV_COMMAND_WEBHOOK=
DEV_GUILD_WEBHOOK=
DEV_ERROR_WEBHOOK=

# Production Bot Configuration
PROD_BOT_ID=YOUR_PROD_BOT_ID
PROD_CLIENT_SECRET=YOUR_PROD_CLIENT_SECRET
PROD_BOT_TOKEN=YOUR_PROD_BOT_TOKEN
PROD_MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/

# Production Logging Channels
PROD_ERROR_LOG_CHANNEL=YOUR_PROD_ERROR_LOG_CHANNEL_ID
PROD_GUILD_LOG_CHANNEL=YOUR_PROD_GUILD_LOG_CHANNEL_ID
PROD_COMMAND_LOG_CHANNEL=YOUR_PROD_COMMAND_LOG_CHANNEL_ID

# Production Webhooks (optional)
PROD_COMMAND_WEBHOOK=
PROD_GUILD_WEBHOOK=
PROD_ERROR_WEBHOOK=

# Links
INVITE_LINK=https://discord.com/oauth2/authorize?client_id=YOUR_BOT_ID&permissions=36988944&scope=bot+applications.commands
SUPPORT_SERVER=https://discord.gg/YOUR_SUPPORT_SERVER
BACKGROUND_PATH=./src/assets/background.jpg

# Top.gg Configuration
TOPGG_TOKEN=YOUR_TOPGG_TOKEN
TOPGG_VOTE_LINK=https://top.gg/bot/YOUR_BOT_ID/vote

# Spotify Configuration
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET

# Lavalink Node Configuration
LAVALINK_NODE_NAME=YOUR_LAVALINK_NODE_NAME
LAVALINK_NODE_URL=YOUR_LAVALINK_NODE_URL
LAVALINK_NODE_AUTH=YOUR_LAVALINK_NODE_AUTH
LAVALINK_NODE_SECURE=false

# Bot Settings
BOT_COLOR=Blue
DEVELOPER_IDS=YOUR_DISCORD_USER_ID
DEV_GUILD_IDS=YOUR_DEV_GUILD_ID
