import { ColorResolvable } from 'discord.js'

export default {
    dev: {
        id: 'YOUR_DEV_BOT_ID',
        secret: 'YOUR_DEV_CLIENT_SECRET',
        token: 'YOUR_DEV_BOT_TOKEN',
        db: 'mongodb+srv://username:password@cluster.mongodb.net/',
        log: {
            error: 'YOUR_DEV_ERROR_LOG_CHANNEL_ID',
            guild: 'YOUR_DEV_GUILD_LOG_CHANNEL_ID',
            command: 'YOUR_DEV_COMMAND_LOG_CHANNEL_ID'
        },
        webhook: {
            command: '',
            guild: '',
            error: ''
        }
    },
    prod: {
        id: 'YOUR_PROD_BOT_ID',
        secret: 'YOUR_PROD_CLIENT_SECRET',
        token: 'YOUR_PROD_BOT_TOKEN',
        db: 'mongodb+srv://username:password@cluster.mongodb.net/',
        log: {
            error: 'YOUR_PROD_ERROR_LOG_CHANNEL_ID',
            guild: 'YOUR_PROD_GUILD_LOG_CHANNEL_ID',
            command: 'YOUR_PROD_COMMAND_LOG_CHANNEL_ID'
        },
        webhook: {
            command: '',
            guild: '',
            error: ''
        }
    },
    links: {
        invite: 'https://discord.com/oauth2/authorize?client_id=YOUR_BOT_ID&permissions=36988944&scope=bot+applications.commands',
        support: 'https://discord.gg/YOUR_SUPPORT_SERVER',
        background: './src/assets/background.jpg'
    },
    topgg: {
        token: 'YOUR_TOPGG_TOKEN',
        vote: 'https://top.gg/bot/YOUR_BOT_ID/vote'
    },
    spotify: {
        id: 'YOUR_SPOTIFY_CLIENT_ID',
        secret: 'YOUR_SPOTIFY_CLIENT_SECRET'
    },
    handlers: { commands: './dist/commands', events: './dist/events', shoukakuEvents: './dist/shoukakuEvents' },
    guilds: {
        dev: ['YOUR_DEV_GUILD_ID']
    },
    color: 'Blue' as ColorResolvable,
    developers: ['YOUR_DISCORD_USER_ID']
}
